.header {
	background-color: var(--text-color);
	grid-area: header;
	padding: 12px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: start;

		&-text {
			margin: 0 0 0 12px;
			font-size: 40px;
			line-height: 48px;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		&-list {
			display: flex;
		}
	}

	&__item {
	}

	&__link {
		padding: 12px;
	}
}

@media (min-width: 992px) {
	.header {
		&__menu {
			&-list {
				gap: 12px;
			}
		}
	}
}
