.m32 {
	margin: 32px 0px;
}

.form {
	border: 5px solid rgb(109, 109, 255);
	padding: 32px;
}

.box {
	padding: 24px;
}

.form-control {
	margin-bottom: 12px;
}

.m-b-24 {
	margin-bottom: 24px;
}
